# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
packages/*/node_modules
.vercel
packages/*/.vercel
dist
packages/*/dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Vercel Serverless Functions
# Comentado para que as funções sejam commitadas e o Vercel as detecte
# api/

foundation-life/.env
foundation-life/.next/*
foundation-life/.env.local
foundation-life/node_modules/*
foundation-life/package-lock.json
foundation-life/yarn.lock
foundation-life/pnpm-lock.yaml
foundation-life/bun.lockb
foundation-life/package-lock.json
foundation-life/yarn.lock
foundation-life/pnpm-lock.yaml
foundation-life/bun.lockb